<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/pogreske.log</file>
        <encoder>
            <pattern> %magenta(%date{36}) %level %magenta(%msg%n{36}) [%file:%line] </pattern> <!-- makni [%thread] %logger{10} [%file:%line] -->
        </encoder>                                  <!-- , %magenta(%logger{36})    level = razina pogreške(informacija,greška, ili nešto drugo), thread =  -->
    </appender>
    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>